#container {
	max-width: 300px;
	margin: auto;
	text-align: center;
}

#boton {
	position: relative;
	width: 100%;
	background-color: blue;
	color: white;
}

#boton.highlight {
	background-color: red;
}

form {
	margin: auto;
}